/** 폰트 **/
@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.CommonHeader{
    font-family: 'ONE-Mobile-Regular';
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    background-color: rgb(199 217 247);
    align-items: center;
    position: relative;
    z-index: 999;
}
.CommonHeader_fixed{
    font-family: 'ONE-Mobile-Regular';
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    background-color: transparent;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
}
a{text-decoration: none; color: inherit;}
ul{list-style: none; margin: 0; padding: 0;}
body{margin: 0;}
.logo_img{
    width: 230px;
    height: 65px;
    padding: 0 0 0 20px;
    text-indent: -999999px;
    cursor: pointer;
}
.logo{
    display: none;
    width: 100%;
    height: 100%;
    background-color: inherit;
    overflow: hidden;

}
/*hd_gnb*/
.hd_gnb{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding-right: 20px;
}
.menu_icon{
    cursor: pointer;
    height: 32px;
}
.diary{ width: 37px;}
.location{width: 30px;}
.info{width:32px;}
.login{width: 30px;}

.text{
    display: none;
}
.menu_li{
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* 건강정보 menu */
.menu_li:nth-child(3){
    position: relative;
}
.hd_info_pan{
    width: 50px;
    position: absolute;
    top: 81%;
    left: 0px;
    background: transparent;
    font-size: 13px;
    text-align: center;
    display: none;
}

.pan_menu{
    padding: 10px 0 10px 0;
}

/* 반응형헤더 */
.toggle{
    font-size: 1.5rem;
    padding: 4px;
    padding-right: 20px;
}
/* 화면이 클때만 hover 적용되게 넣어야함 */
@media screen and (min-width: 600px){
    .menu_li:hover .text{
        margin-top: 8px;
        display: block;
        font-size: 13px;
        display: flex;
        justify-content: center;
    }
    #li_3:hover .hd_info_pan{
        display: block;
    }
    .pan_menu:hover{
        font-weight: bold;
    }
}

@media screen and (max-width: 600px){
    .CommonHeader{
        flex-wrap: wrap;
        align-items: center;
        display: block;
        padding-top: 0px;
    }
    .logo_img{
        padding: 0 0 0 5px;
    }
    .hd_gnb{
    flex-direction: column;
    width: 156px;
    align-items: center;
    padding-right: 0;
    }
    .img_box{
        display: flex;
        width: 37px;
        justify-content: center;
    }
    .toggle{
        display: block;
        background: rgba(255,255,255, 70%);
        padding-left: 10px;
        box-sizing: border-box;
        border-radius: 25px 0 0 25px;
        position: absolute;
        right: 0;
        top: 0;
    }
    .icon{
        float: right;
        padding-top: 7px;
        padding-left: 7px;
        padding-bottom: 7px;
        cursor: pointer;
    }
    .menu_li{
      flex-flow: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    margin-top: 8px;
    gap: 8px;
    width: 156px;
    justify-content: flex-start;
    
    }
    .text{
        display: block;
        flex: none;
    }
    .hd_info_pan{
        width: 100%;
        position: static;
        background: transparent;
        font-size: 13px;
        text-align: center;
        display: block;
        display: flex;
        gap: 8px;
        justify-content: flex-start;
    }
    .pan_menu{
        padding: 0;
    }
    .CommonHeader_fixed{
        flex-wrap: wrap;
        align-items: center;
        display: block;
        padding-top: 0px;
    }
    .CommonHeader_fixed .logo_img{
        padding: 0 0 0 5px;
    }
    .CommonHeader_fixed .hd_gnb{
        flex-direction: column;
        width: 156px;
        align-items: center;
        padding-right: 0;
    }
    .CommonHeader_fixed .img_box{
        display: flex;
        width: 37px;
        justify-content: center;
    }
    .CommonHeader_fixed .toggle{
        float: right;
        display: block;
        background: rgba(255,255,255, 70%);
        padding-left: 10px;
        box-sizing: border-box;
        border-radius: 25px 0 0 25px;
        transition: .5s linear;
    }
    .CommonHeader_fixed .icon{
        float: right;
        padding-top: 7px;
        padding-left: 7px;
        padding-bottom: 7px;
    }
    .CommonHeader_fixed .menu_li{
      flex-flow: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    margin-top: 8px;
    gap: 8px;
    width: 156px;
    justify-content: flex-start;    
    }
    .CommonHeader_fixed .text{
        display: block;
        flex: none;
    }
    .CommonHeader_fixed .hd_info_pan{
        width: 100%;
        position: static;
        background: transparent;
        font-size: 13px;
        text-align: center;
        display: block;
        display: flex;
        gap: 8px;
        justify-content: flex-start;
    }
    .CommonHeader_fixed .pan_menu{
        padding: 0;
    }
}
@media screen and (max-width: 410px){
    .logo_img{
        width: 200px;
        height: 60px;
    }
}
