.contents_area{
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    overflow: hidden;
}
.Footer{
    border-top: 2px solid #e2e2e2;
    margin-top: 200px;
    padding-left: 200px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 40px;
    box-sizing: border-box;
}
.footer_content{
    font-size: 12px;
    padding-top: 10px;
}
.footer_logo{
    width: 10%;
    cursor: pointer;
}
.footer_box{
    line-height: 1.5;
}
.footer_title{
    font-weight: 900;
    font-style: italic;
    font-size: 18px;
}
.footer_call{
    width: 50%;
}
/* 반응형 */
@media screen and (max-width: 1058px){
    .Footer{
        padding-left: 0;
    }
    .footer_content{
        font-size: 12px;
    }
    .footer_content{
        font-size: 10px;
    }
    .footer_logo{
        width: 8%;
    }
    .footer_title{
        font-size: 15px;
    }
    .footer_call{
        width: 44%;
    }
}

@media screen and (max-width: 850px){
    .contents_area{
        max-width: 1030px;
    }

}
@media screen and (max-width: 760px){
    .contents_area{
        max-width: 980px;
    }

}
@media screen and (max-width: 719px){
    .contents_area{
        max-width: 914px;
    }
}
@media screen and (max-width: 626px){
    .Footer{
        display: flex;
        justify-content: center;
    }
    .contents_area{
        width: 100%;
    }
    .footer_logo{
       display: none;
    }
    .footer_call{
        display: none;
    }
}