.justify_box{
    margin: 0 auto;
    margin-top: 100px;
    width: 80%;
    justify-content: center;
}
.jus_title{
    font-weight: 900;
    font-size: 1.5em;
}
.jus_content{
    margin-top: 30px;
    line-height: 1.7;
    font-size: 0.92em;

}
.jus_content span{
    font-weight: 900;
}
.stress_wrapper{
    width: 100%;
    background-color: #ececec;
    padding: 28px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    border-radius: 25px;
    margin-top: 30px;
    font-size: 0.92em;
}
.img_box{
    display: flex;
    border-radius: 25px;
    justify-content: center;
    width: 38%;
    gap: 41px;
    align-items: center;
}
.img_box img{
    width: 32%;
}
.txt_title{
    font-weight: 800;
    margin-bottom: 10px;
    color: darkslategrey;
}
.txt_contents{
    line-height: 1.25;
    
}
.overcome_box{
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 60px;
    width: 80%;
}
.overcome_title{
    font-weight: 900;
    font-size: 1.5em;
    margin-bottom: 20px;
}
.overcome_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.overcome_wrapper li{
    display: flex;
    flex-direction: column;
    margin-top: 14px;
}
.title{
    font-weight: 800;
    text-align: center;
    font-size: 1.25em;
    margin-top: 10px;
    align-self: baseline;
}
.box{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    justify-content: center;
}
.content{
    line-height: 2;
    font-size: 0.92em;

}
/* 반응형 */
@media screen and (max-width: 780px){
    .img_box{
        width: 45%;
        gap: 26px;
    }
    .img_box img{
        width: 40%;
    }
}
@media screen and (max-width: 660px){
    .stress_wrapper{
        gap: 30px;
    }
    .img_box{
        width: 50%;
        gap: 17px;
    }
    .img_box img{
        width: 30%;
    }
}
@media screen and (max-width: 545px){
    .stress_wrapper{
        font-size: 0.82em;
    }
}
@media screen and (max-width: 506px){
    .stress_wrapper{
        padding: 13px 16px;
        gap: 35px;
        flex-wrap: wrap;
    }
    .img_box{
        width: 84%;
    }
    .title{
        text-align: start;
        font-size: 1.1em;
    }
}
