
.justify_box{
   margin: 0 auto;
    margin-top: 100px;
    width: 80%;
    justify-content: center;
}
.jus_title{
    font-weight: 900;
    font-size: 1.5em;
}
.jus_content{
    margin-top: 20px;
    line-height: 1.7;
    font-size: 0.92em;
}
.jus_content span{
    font-weight: 900;
}
.overcome_box{
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
}
.overcome_title{
    font-weight: 900;
    font-size: 1.5em;
    margin-bottom: 40px;
}
.overcome_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.overcome_wrapper li{
    width: 35%;
    border: 3px dotted rgb(199 217 247);
    border-radius: 49px;
    height: 185px;
    margin-bottom: 30px;
    padding: 15px;
    padding-top: 29px;
}
.title{
    font-weight: 800;
    text-align: center;
    font-size: 1.25em;
    margin-top: 10px;
}
.box{
    display: flex;
    justify-content: space-around;
    margin-top: 27px;
    align-items: center;
}
.img{
    width: 24%;
    height: 60%;
}
.content{
  width: 63%;
    font-size: 0.92em;
    line-height: 1.5;
}
/* 반응형 */
@media screen and (max-width: 800px){
    .overcome_wrapper li{
        width: 40%;
        height: 190px;
        margin-bottom: 25px;
        padding: 8px;
        padding-top: 14px;
        overflow: hidden;
        box-sizing: border-box;
    }
    .title{
        font-size: 1em;
    }
    .img{
        width: 20%;
        height: 60%;
    }
    .content{
          font-size: 0.82em;
      }
.box{
    padding-top: 15px;
    margin-top: 0;
    box-sizing: border-box;}
}
@media screen and (max-width: 700px){
    .overcome_wrapper{
        gap: 4px;
    }
    .title{
        font-size: 0.9em;
    }
    .img{
        width: 25%;
    }
}
@media screen and (max-width: 668px){
    .content{
        font-size: 0.75em;
    }
}
@media screen and (max-width: 580px){
    .overcome_wrapper li{
        width: 47%;
    }
}
@media screen and (max-width: 480px){
    .overcome_wrapper li{
        width: 60%;
    }
    .content{
        font-size: 0.8em;
    }
}
@media screen and (max-width: 480px){
    .overcome_wrapper li{
        width: 92%;
    }
    .content{
        font-size: 0.8em;
    }
}