.InfoStress{

}
.justify_box{
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
    justify-content: center;
}
.jus_title{
    font-weight: 900;
    font-size: 1.5em;
}
.jus_content{
    margin-top: 20px;
    line-height: 1.7;
}
.jus_content span{
    font-weight: 900;
}
.stress_wrapper{
    width: 100%;
    background-color: #ececec;
    padding: 18px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    border-radius: 25px;
    margin-top: 16px;
}
.img_box{
    display: flex;
    border-radius: 25px;
    justify-content: center;
    width: 34%;
    gap: 16px;
    align-items: center;
}
.img_box img{
    width: 42%;
}
.txt_title{
    font-weight: 800;
    margin-bottom: 10px;
    color: darkslategrey;
}
.txt_contents{
    line-height: 1.25;
}
.overcome_box{
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 60px;
    width: 80%;
}
.overcome_title{
    font-weight: 900;
    font-size: 1.5em;
    margin-bottom: 20px;
}
.overcome_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.overcome_wrapper li{
    display: flex;
    flex-direction: column;
}
.title{
    font-weight: 800;
    text-align: center;
    font-size: 1.25em;
    margin-top: 10px;
    align-self: baseline;
}
.box{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    justify-content: center;
}
.content{
    line-height: 1.7;
}
