.MainTab{
    color: #545050;
}
.contents_area{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.FourthSec{
    display: flex;
    justify-content: space-between;
}
.left_col{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.col_title{
    font-size: 2em;
    font-weight: 800;
    position: relative;
}
/* 구름이미지 */
.col_title img{
    position: absolute;
    bottom: 20%;
    left: 91%;
    width: 40px;
}
.right_col{
    width: 50%;
}
.col_sec_wrapper p{
    width: 209px;
    height: 45px;
    background-color: rgb(199 217 247);
    border-radius: 14px;
    align-items: center;
    text-align: center;
    line-height: 45px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

/*핸드폰*/
.phone_img{
    height: inherit;
    width: 324px;
    min-width: 324px;
    background-color: white;
    border: 9px solid #ccc;
    border-radius: 65px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: flex-start;
}
.right_col{
    position: relative;
    height: 650px;
    display: flex;
    justify-content: center;
    width: 50%;
}
/* 핸드폰 안 contents*/
.contents_wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: scroll;
    align-items: flex-start;
    align-content: flex-start;
}
.contents_wrapper::-webkit-scrollbar{
    width: 2px;
}
.contents_wrapper::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 4px;
}
.phone_top{
    width: 138px;
    height: 25px;
    border-radius: 25px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone_mid{
    width: 46px;
    height: 5px;
    border-radius: 25px;
    background-color: white;
}
/* 첫번째 화면*/
.contents_wrapper_1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contents_wrapper_1 .phone_title{
    padding-top: 16px;
    font-size: 1.5em;
    line-height: 1.5;
    font-weight: 800;
    box-sizing: border-box;
}
.contents_wrapper_1 iframe{
    border-radius: 16px;
}
.contents_wrapper_1 .script_wrapper{
    border: 2px solid gray;
}
.contents_wrapper_1 .script{
    width: 270px;
    height: 45px;
    background-color: rgb(199 217 247);
    border-radius: 14px;
    align-items: center;
    text-align: center;
    line-height: 45px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    gap: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    margin-top: 20px;
}
.contents_wrapper_1 .script img{
    width: 32px;
}
.contents_wrapper_1 .script_title{
    flex-grow: 1;
}
.contents_wrapper_1 .script_content{
    display: block;
    width: 270px;
    border: 2px solid rgb(199 217 247);
    border-radius: 14px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.2;
}
.contents_wrapper_1 .toggle svg{
    width: 28px;
    height: 17px;
    cursor: pointer;
}
.contents_wrapper_1 .script_outer{
    padding: 20px 0;
    width: 80%;
    line-height: 1.3;
    font-size: 16px;
}
/* 두번째 화면 2(1) */
.contents_wrapper_2_1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: none;
}
.contents_img{
    width: 220px;
    padding-top: 20px;
}
.contents_msg{
    padding-top: 10px;
    width: 80%;
    line-height: 1.25;
}
.input_box{
    margin-top: 20px;
    width: 80%;
    height: 200px;
    background-color: #ccc;
    border-radius: 25px;
}
.input_box_title{
    display: flex;
    padding-left: 20px;
    padding-top: 5px;
    gap: 7px;
    font-size: 18px;
    font-weight: 800;
    align-items: center;
}
.input_box_img{
    width: 45px;
}
.input_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
.input_items input:nth-child(1){
    margin-top: 5px;
}
.input_items input{
    border: none;
    width: 85%;
    height: 33px;
    border-radius: 10px;
    padding: 8px;
    box-sizing: border-box;
    font-family: 'ONE-Mobile-Regular';

}
.input_box + button{
    width: 77%;
    margin-bottom: 20px;
}
/* 세번째 화면 2(2) */
.contents_wrapper_2_2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: none;
}
.contents_wrapper_2_2 svg{
    position: relative;
    bottom: 39px;
    left: 230px;
    cursor: pointer;
}
.contents_wrapper_2_2 img{
    position: absolute;
    top: -15px;
    left: 116px !important;
    width: 30px;
    height: 30px;
}
.second_msg{
    padding-top: 10px;
    width: 80%;
    line-height: 1.25;
}
.done_list{
    margin-top: 20px;
    width: 80%;
    height: 200px;
    background-color: #ccc;
    border-radius: 25px;
}
.done_list p{
    font-size: 16px;
    padding: 7px;
}
.done_list div{
    color: rgb(192, 100, 100);
    transform: rotate(-23deg);
    font-size: 23px;
    font-weight: 800;
    display: flex;
    flex-direction: row-reverse;
}
.second_msg_content{
    padding-top: 10px;
    width: 80%;
    line-height: 1.7;
}
.thanks_diary{
    margin-top: 20px;
    width: 80%;
    background-color: #ccc;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.thanks_diary .thanks_diary_title{
    padding-left: 20px;
    padding-top: 5px;
    font-size: 18px;
    font-weight: 800;
}
.thanks_diary p{
    padding-left: 20px;
    font-size: 16px;
    font-weight: 600;
}
.thanks_diary textarea{
    margin: 0 auto;
    box-sizing: border-box;
    width: 80%;
    min-height: 150px;
    resize: vertical;
    /* 가로로는 늘릴 수 없게 */
    border: none;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    padding: 20px;
    margin-bottom: 15px;
    font-family: 'ONE-Mobile-Regular';
}
.thanks_diary + button{
    width: 77%;
    margin-bottom: 20px;
}
/* 네번째 화면 2(3)*/
.contents_wrapper_2_3{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: none;
}
.contents_wrapper_2_3 svg{
    position: relative;
    bottom: 39px;
    left: 230px;
    cursor: pointer;
}
.contents_wrapper_2_3 img{
    position: absolute;
    top: -15px;
    left: 268px !important;
    width: 30px;
    height: 30px;
}
.thanks_diary_last{
    margin-top: 20px;
    width: 80%;
    height: 200px;
    background-color: #ccc;
    border-radius: 25px;
}
.thanks_diary_last_title{
    padding-left: 20px;
    padding-top: 5px;
    font-size: 18px;
    font-weight: 800;
}
.thanks_diary_txt{
    background-color: white;
    margin: 10px auto;
    box-sizing: border-box;
    width: 80%;
    min-height: 150px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    overflow-y: auto;
}
.last_greet{
    padding-top: 10px;
    width: 80%;
    line-height: 1.7;
}

/* 반응형 */
@media screen and (max-width: 850px){
    .col_title{
        font-size: 1.5em;
    }
}
@media screen and (max-width: 800px){
    .FourthSec{
        display: block;
    }
    .left_col{
        width: 100%;
    }
    .right_col{
        margin: 35px auto;
    }
}
@media screen and (max-width: 608px){
    .col_title{
        font-size: 1.25em;
    }
    .col_title img{
        width: 23px;
    }
    .col_sec_wrapper p{
        width: 165px;
        font-size: 13px;
    }

}
@media screen and (max-width: 410px){
    .col_title{
        font-size: 1em;
    }
    .col_sec_wrapper p{
        width: 150px;
        font-size: 11px;
        height: 40px;
    }
}